* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --gray-600: #828282;

  --blue-gray-50: #ECEFF2;
  --blue-gray-800: #3F3D56;

  --pink-300: #EE24FF;

  --text-primary: var(--gray-600);
  --text-secondary: var(--blue-gray-800);
}

.text-secondary {
  color: var(--text-secondary);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  text-align: center;

  height: 100vh;
}

main {
  max-width: 54rem;
  margin-inline: 3.2rem;
}

main img {
  margin: 6.4rem 0 3.2rem;
  max-width: 35rem;
  width: 100%;
}

h1 {
  color: var(--text-secondary);
  font-family: 'Dosis', sans-serif;
  font-size: 3.2rem;
  font-weight: 500;

  margin-bottom: 1.6rem;
}

h1 span {
  color: var(--pink-300);
  font-weight: 700;
}

p, a {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.2rem;
}

p + p {
  margin: 3.2rem 0 6.4rem;
}

footer {
  display: flex;
  flex-direction: column;

  width: 100%;
}

hr {
  border: 1px solid var(--blue-gray-50);
  height: 0rem;
  width: 100%;
  max-width: 39.1rem;

  margin: 0 auto 1.6rem;
}

ul {
  display: flex;
  justify-content: center;
  gap: 4.2rem;

  list-style: none;

  margin-bottom: 4rem;
}

a {
  color: var(--text-secondary);
  font-weight: 700;
  text-decoration: none;

  transition: filter 0.2s;
}

a + a {
  margin-left: 4.2rem;
}

a:hover {
  filter: brightness(1.2);
}

@media (max-width: 375px) {
  main {
    margin-inline: 1.6rem;
  }

  ul {
    flex-direction: column;
    gap: 1.6rem;
  }
}